@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --focus-color: #2196f3;
  --accent-color: #212121;
  --background-secondary: #f5f4fa;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section--no-padding {
  padding-top: 0px;
}

@media screen and (max-width: 1200px) {
  .section--no-padding {
    display: none;
  }
}

.section--grey {
  background-color: var(--background-secondary);
}

.section__subject {
  margin-bottom: 10px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 30px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.section__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item {
  background-color: var(--primary-white-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--portfolio {
    max-width: 480px;
  }
}

.container--full {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container--full {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
  }
}

.logo {
  display: inline;
  color: var(--focus-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding: 0;
}

.logo__studio {
  color: var(--accent-color);
}

.footer-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
}

.footer-logo__logo {
  margin-bottom: 20px;
}

.footer-logo--inverse {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) {
  .header {
    width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__container-nav {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) {
  .header__container-nav {
    width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .header__container-nav {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .header__container-nav {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container-nav {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav .main-nav__items:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .main-nav {
    margin-left: 93px;
  }
}

.main-nav__items {
  margin: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .main-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    padding-bottom: 0;
  }
}

.main-nav__link:hover, .main-nav__link:focus {
  color: var(--focus-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .main-nav__link:hover, .main-nav__link:focus {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
}

.active {
  color: black;
}

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 300px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

@media screen and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 84px;
  }
  .contacts .contacts__nav:last-child {
    margin-left: 0px;
  }
}

.contacts__mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.contacts__tel {
  margin-right: 10px;
}

.contacts__img {
  width: 10px;
  height: 16;
}

.contacts__nav {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts__nav:last-child {
  margin-left: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__nav {
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, fill;
  -o-transition-property: color, fill;
  transition-property: color, fill;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--focus-color);
}

.contacts__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  fill: var(--primary-text-color);
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.contacts__icon:hover {
  color: var(--focus-color);
  fill: var(--focus-color);
}

.button-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-menu.is-open .button-menu__close {
  display: block;
}

.button-menu__menu:focus {
  fill: var(--focus-color);
}

.button-menu__close:focus {
  fill: var(--focus-color);
}

.button-menu__menu,
.button-menu__close {
  fill: black;
  -webkit-transition: -webkit-transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    width: 101%;
    top: 0;
    left: 0;
    height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: white;
    display: none;
    pointer-events: none;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1;
    pointer-events: visible;
  }
  .menu-container .main-nav__items {
    margin-left: 50px;
  }
  .menu-container .main-nav {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu-container .contacts {
    margin-left: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .menu-container .contacts .contacts__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .menu-container .contacts .contacts__link.contacts__link--mail {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .menu-container .contacts .contacts__nav:last-child {
    margin-bottom: 32px;
  }
  .menu-container .contacts .contacts__mail,
  .menu-container .contacts .contacts__tel {
    display: none;
  }
  .menu-container .contacts .contacts__img {
    display: none;
  }
}

.menu-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.menu-social .menu-social__icon:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social .menu-social__icon {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--focus-color);
  letter-spacing: 0.02em;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .menu-social {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-menu {
    display: none;
  }
}

.port::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: inline-block;
  background-color: var(--focus-color);
  height: 4px;
  width: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 0;
  margin: 0;
}

.hero {
  color: var(--primary-white-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero@2x.jpg");
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x.jpg");
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x.jpg");
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  margin-top: 30px;
  padding: 10px 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-white-color);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: transparent;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  -o-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.hero__btn:hover {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  scale: 1;
  -webkit-transition: opacity 250ms var(--timing-function), scale 250ms var(--timing-function);
  -o-transition: opacity 250ms var(--timing-function), scale 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), scale 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  scale: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 609px;
  min-width: 320px;
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 40px 39px 40px 41px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: var(--primary-white-color);
}

.modal-icon {
  fill: #000000;
  -webkit-transition: fill 250ms var(--timing-function);
  -o-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.modal-button:focus > .modal-icon,
.modal-button:hover > .modal-icon {
  fill: #2196f3;
}

.form {
  display: block;
}

.form__subject {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .form__subject {
    line-height: 1.15;
  }
}

.field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: 10px;
}

.field__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.field__input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.field:focus-within > .field__input {
  border-color: #2196f3;
  outline: inherit;
}

.field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.field:focus-within > .field__icon {
  fill: #2196f3;
}

.comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.comment__comment {
  display: block;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.comment:focus-within > .comment__comment {
  border-color: #2196f3;
  outline: inherit;
}

textarea[placeholder='Введите текст'] {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 20px;
}

.checkbox__comment {
  color: #757575;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 56px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background-color: var(--focus-color);
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:focus, .submit:hover {
  background-color: #188ce8;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-right: 8px;
  margin-left: 12px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  border: 0.2px solid #ffffff;
}

.advantage {
  padding-left: 0;
  margin: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .advantage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

.advantage__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: var(--background-secondary);
  margin-bottom: 30px;
}

.advantage__comment {
  line-height: 1.71;
  margin: 0;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .advantage__item {
    width: -webkit-calc((100% - 2 * 30px) / 2);
    width: calc((100% - 2 * 30px) / 2);
    text-align: start;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    width: -webkit-calc((100% - 4 * 30px) / 4);
    width: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (min-width: 767px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.jobs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.jobs__features {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  text-align: center;
}

.jobs__item {
  position: relative;
}

.jobs__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .team {
    margin: -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team__item {
  background-color: var(--primary-white-color);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .team__item {
    max-width: -webkit-calc((100% - 2 * 30px) / 2);
    max-width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:last-child {
    margin-bottom: 0;
  }
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding-bottom: 30px;
  margin: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__pic {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--timing-function);
  -o-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.box__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  -o-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.box__link:hover, .box__link:focus {
  fill: var(--primary-white-color);
  background-color: var(--focus-color);
}

.box__icon {
  justify-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
}

.box__icon + .box__icon {
  margin-left: 10px;
}

.clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -15px;
}

.clients__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  margin: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  -o-transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

@media screen and (max-width: 767px) {
  .clients__icon {
    max-width: -webkit-calc((100% - 2 * 30px) / 2);
    max-width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.clients__link {
  border: 1px solid #afb1b8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 15px 27px;
  -webkit-transition: border-color 250ms var(--timing-function);
  -o-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--focus-color);
}

.clients__pic {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--timing-function);
  -o-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.clients__link:hover .clients__pic,
.clients__link:focus .clients__pic {
  fill: var(--focus-color);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer .footer-address__position {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .address-list {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer .footer__address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__container {
    text-align: start;
    max-width: 1200px;
  }
  .footer .footer__address {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

.address-list > .address-list__list:nth-child(2) {
  display: block;
  margin-bottom: 9px;
}

.address-list__link {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--focus-color);
}

.address-list__adrress {
  margin: 0 0 9px 0;
  font-style: normal;
  font-size: 14px;
  color: var(--primary-white-color);
}

.btn-footer {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: var(--primary-white-color);
  background-color: var(--focus-color);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .btn-footer {
    margin-top: 20px;
  }
}

.social-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
}

@media screen and (min-width: 1200px) {
  .social-footer {
    margin-left: 70px;
  }
}

.social-footer__text {
  color: var(--primary-white-color);
  margin: 0 0 20px 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .social-footer__text {
    margin-top: 60px;
  }
}

.social-footer__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social {
  margin: 0;
  padding: 0;
}

.social-footer__link-icon {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

.social-footer__link-icon:hover {
  fill: var(--primary-white-color);
  background-color: var(--focus-color);
}

.social-footer__icon-link + .social-footer__icon-link {
  margin-left: 10px;
}

.form-footer {
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .form-footer {
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-left: auto;
  }
}

.form-footer__decore {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer__decore {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form-footer__text {
  margin: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .form-footer__text {
    margin-top: 60px;
    margin-bottom: 0px;
  }
}

.form-footer__input-footer {
  width: 450px;
  height: 50px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 0;
  padding-left: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2F303A;
  outline-style: none;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .form-footer__input-footer {
    width: 358px;
  }
}

.form-footer__input-footer:focus {
  outline-color: var(--focus-color);
  outline-style: 1px;
  border-color: var(--focus-color);
}

.form-footer__input-footer::-webkit-input-placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input-footer:-ms-input-placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input-footer::-ms-input-placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input-footer::placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */