.clients {
  display: flex;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;

  &__icon {
    @media screen and (max-width: 767px) {
      max-width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    display: flex;
    width: 170px;
    height: 92px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    transition: transform 250ms var(--timing-function);
    transition-property: all;
  }
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 15px 27px;
  transition: border-color 250ms var(--timing-function);

  &:hover,
  &:focus  {
  border-color: var(--focus-color);
}
}

.clients__pic {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);

  .clients__link:hover &,
  .clients__link:focus & {
  fill: var(--focus-color);
}
}
