.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;


  @media screen and (max-width: 767px) {
    .footer-address__position {
      display: flex;
      justify-content: center;
    }
  }
  .address-list {
    padding: 0;
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    .footer__address {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  @media screen and (min-width: 1200px) {
    .footer__container {
      text-align: start;
      max-width: 1200px;
    }
    .footer__address {
      flex-wrap: nowrap;
    }
  }
}

.address-list > .address-list__list:nth-child(2) {
  display: block;
  margin-bottom: 9px;
}
.address-list__link {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;

  &:hover,
  &:focus {
  color: var(--focus-color);
}
}

.address-list__adrress {
  margin: 0 0 9px 0;
  font-style: normal;
  font-size: 14px;
  color: var(--primary-white-color);
}


.btn-footer {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: var(--primary-white-color);
  background-color: var(--focus-color);
  border-radius: 4px;
  border-color: var(--focus-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and(max-width:1199px) {
    margin-top: 20px;
  }
}
.social-footer {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }

  &__text {
    color: var(--primary-white-color);
    margin: 0 0 20px 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and(max-width:767px) {
      margin-top: 60px;
    }
  }
}
.social-footer__icon {
  display: flex;
  justify-content: center;
}
.social {
  margin: 0;
  padding: 0;
}

.social-footer__link-icon {
  justify-content: center;
  display: flex;
  fill: #afb1b8;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;

  &:hover {
    fill: var(--primary-white-color);
    background-color: var(--focus-color);
  }
}

.social-footer__icon-link + .social-footer__icon-link {
  margin-left: 10px;
}


.form-footer {
  margin-left: auto;
  @media screen and (max-width: 1199px) {
    margin: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }

  &__decore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and(max-width:1199px) {
      margin-top: 60px;
      margin-bottom: 0px;
    }
  }
}

.form-footer__input-footer {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 0;
  padding-left: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2F303A;
  outline-style: none;
  color: rgba(255, 255, 255, 0.6);

  &:focus {
    outline-color: var(--focus-color);
    outline-style: 1px;
    border-color: var(--focus-color);
  }

  &::placeholder {
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
}


