.logo {
  display: inline;
  color: var(--focus-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding: 0;

  &__studio {
    color: var(--accent-color);
  }
}


.footer-logo {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;

  &__logo {
    margin-bottom: 20px;
  }

  &--inverse {
    color: var(--primery-background);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}





 