  .portfolio-jobs {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    &__item {
      border: 1px solid #eeeeee;
      margin: 15px;
      width: 370px;

      @media screen and (min-width: 480px) {
        width: 450px;
      }
  
      @media screen and (min-width: 768px) {
        width: 354px;
      }
      
      @media screen and (min-width: 1200px) {
        width: 370px;
      }
    }

    &__info {
      margin: 20px 24px;
    }

    &__title {
      margin-bottom: 4px;
      color: var(--accent-color);
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 1.9;
    }
  }
  
  .portfolio-thumb {
    position: relative;
  }
  
  .description {
    font-size: 18px;
    line-height: 1.6;
    color: var(--primary-white-color);
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);

    .portfolio-jobs__item:hover & {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
 
  